<div class="bg-slate-800 mx-auto flex flex-col w-full max-w-screen-xl px-4 py-10 gap-y-5">
  <!-- Header -->
  <div class="pb-5 flex items-center gap-5">
    <svg class="fill-slate-400 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/></svg>
    <p class="text-slate-400 text-xl">Users</p>
  </div>

  <!-- Filter -->
  <div class="flex items-center gap-x-5">
    <label class="text-slate-400 text-lg" for="filter">Search in table : </label>
    <select (change)="onSelectFilterOption($event)" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option [value]="filterOptions[0]">All filters</option>
      <option [value]="filterOptions[1]">Full name</option>
      <option [value]="filterOptions[2]">Email</option>
      <option [value]="filterOptions[3]">Occupation</option>
    </select>
    <input #filterInput id="filter" class="rounded bg-slate-600 py-2 px-2" (input)="applyFilter(filterInput.value)" placeholder="Filter">

  </div>

  <div class="mat-elevation-z8">
    <!-- Table -->
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by full name">
          Full name
        </th>

        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
          Email
        </th>

        <td mat-cell *matCellDef="let element">
          {{ element.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="occupation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by occupation">
          Occupation
        </th>

        <td mat-cell *matCellDef="let element">
          {{ element.occupation }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>

        <td mat-cell *matCellDef="let element">
          <div class="flex max-lg:flex-col max-lg:gap-y-2 max-lg:my-1 gap-x-2">
            <button [routerLink]="['/user', element.id]" type="button" class="text-gray-900 bg-slate-400 border border-slate-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 ">Details</button>
            <button [routerLink]="['/update', element.id]" type="button" class="text-white bg-amber-600 hover:bg-amber-400 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button>
            <button (click)="onDelete(element.id)" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button>
          </div>
        </td>
      </ng-container>

      <tr class="rounded-2xl" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      class="w-full text-slate-200"
    />
  </div>

  <button [routerLink]="['/add']" type="button" class="w-28 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>

</div>
