<div class="bg-slate-800 mx-auto flex flex-col w-full max-w-screen-xl px-4 py-10 gap-y-5">
  <!-- Header -->
  <a routerLink="/" class="pb-5 flex items-center gap-5 group">
    <svg class="fill-slate-400 w-10 group-hover:fill-slate-200 transition-all" xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
    <p class="text-slate-400 text-xl mb-0 group-hover:text-slate-200 transition-all" >Back to users list</p>
  </a>

  <!-- Update User -->

  <app-user-form [mode]="'add'"></app-user-form>

</div>
